{% load widget_tweaks %}

<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <title>Alpha String Checker</title>

  </head>

  <body>

	<nav class="navbar navbar-dark bg-dark">
		<span class="navbar-brand mb-0 h1">Alphabet String Checker</span>
		<!-- <span class="navbar-brand mb-0 h1">String Checker</span> -->
	</nav>

	<div class="container">

		<br>
		<p>Verify that a string contains all 26 letters of the alphabet.</p>

		<div class="row">
			<form method="post" >{% csrf_token %}
		    {{ form.as_p }}
		    <input type="submit" value="Check String" class="btn btn-primary" />
			</form>
		</div>

	{% if answer %}
	  <button type="button" class="btn btn-success">The string contains all 26 letters of the alphabet</button>
	{% else %}
	  <button type="button" class="btn btn-danger">The string does NOT contains all 26 letters of the alphabet.</button>
	{% endif %}



		<p>Try these test strings:</p>

		<ul>
			<li> <b>The quick brown fox jumps over a lazy dog.</b> returns True. </li>
			<li> <b>Now is the time for all good men to come to the aid of their country</b> returns True. </li>
			<li> <b>Hello World, How are you? I'm Fine, Thanks!</b> returns False. </li>
		</ul>



<!--     <footer class="footer bg-dark">
      <div class="container">
        <span class="text-white">© 2018 Caroline Seligman Froehlich, all rights reserved </span>
      </div>
    </footer> -->

</body>




